@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

@import "tailwindcss";

.manrope-font {
  font-family: "Manrope", sans-serif;
}

.p-color{
  color: #777777;
}
